.root{
    -fx-background-color: #001d63;
}


.label{
    -fx-text-fill: #efa528;
}


.button{
    -fx-background-color: #efa528;
    -fx-text-fill: #001d63;
    -fx-font-weight: bolder;
    -fx-padding: 5;
}


.button:hover{
    -fx-background-color: #d68c0f;
    -fx-cursor: hand;
}


.text-field{
    -fx-text-fill: #001d63;
    -fx-prompt-text-fill: #001d63;
}


.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #efa528;
}


.date-picker:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #efa528;
}


.date-picker > .arrow-button{
    -fx-background-color: #efa528;
}


.date-picker-popup > .month-year-pane{
    -fx-background-color: #d68c0f;
}


.date-picker-popup > .month-year-pane > * > .label{
    -fx-text-fill: #001d63;
}


.date-picker-popup > * > .cell{
    -fx-background-color: #efa528;
    -fx-text-fill: #001d63;
}



.date-picker-popup > * > .cell:hover{
    -fx-background-color: #d68c0f;
    -fx-cursor: hand;
}


.date-picker-popup > * > .cell:focused{
    -fx-background-color: #001d63;
    -fx-text-fill: #efa528;
}


.date-picker-popup > * {
    -fx-background-color: #001d63;
}