.root{
    -fx-background-color: #172156;
}


.label{
    -fx-text-fill: #fab338;
}


.button{
    -fx-background-color: #fab338;
    -fx-text-fill: #172156;
    -fx-font-weight: bolder;
    -fx-padding: 5;
}


.button:hover{
    -fx-background-color: #e19a1f;
    -fx-cursor: hand;
}


.combo-box-base{
    -fx-background-color: #ffffff;
}


.combo-box-base > * {
    -fx-text-fill: #172156;
}


.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell{
    -fx-text-fill: #172156;
}


.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover{
    -fx-background-color: #fab338;
    -fx-cursor: hand;
}


#veicoloField > * > .arrow, #indirizzoattivoField > * > .arrow,
#inserisciarticoloField > * > .arrow, #gestisciarticoloField > * > .arrow,
#categoriaField > * > .arrow, #selezionaristoranteField > * > .arrow{
    -fx-background-color: #fab338;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected{
    -fx-background-color: #fab338;
    -fx-cursor: hand;
}

.combo-box-base > * > .arrow{
    -fx-background-color: #172156;
}


.text-field{
    -fx-background-color: white;
    -fx-text-fill: #172156;
    -fx-prompt-text-fill: #172156;
    -fx-border-color: transparent;
    -fx-border-radius: 3px;
}


.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #fab338;
}


.date-picker:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #fab338;
}


.date-picker > .arrow-button{
    -fx-background-color: #fab338;
}


.date-picker > .arrow-button:hover{
    -fx-background-color: #e19a1f;
    -fx-cursor: hand;
}


.date-picker-popup > .month-year-pane{
    -fx-background-color: #e19a1f;
}


.date-picker-popup > .month-year-pane > * > .label{
    -fx-text-fill: #172156;
    -fx-font-weight: bolder;
}


.date-picker-popup > * > .cell{
    -fx-background-color: #fab338;
    -fx-text-fill: #172156;
}


.date-picker-popup > * > .cell:hover{
    -fx-background-color: #e19a1f;
    -fx-cursor: hand;
}


.date-picker-popup > * > .cell:focused{
    -fx-background-color: #172156;
    -fx-text-fill: #fab338;
}


.date-picker-popup > .month-year-pane > * > .button{
    -fx-background-color: #e19a1f;
    -fx-padding: 0px 5px;
    -fx-border-insets: 0px;
    -fx-border-radius: 50%;
    -fx-border-color: #e19a1f;
}


.date-picker-popup > .month-year-pane > * > .button > *{
    -fx-background-color: #172156;
}


.date-picker-popup > .month-year-pane > * > .button:hover{
    -fx-border-color: #172156;
}


#menuVBox{
    -fx-border-style: solid none none solid;
    -fx-border-width: 2;
    -fx-border-color: #fab338;
}