.root{
    -fx-background-color: #172156;
}


.label{
    -fx-text-fill: #fab338;
}


.button{
    -fx-background-color: #fab338;
    -fx-text-fill: #172156;
    -fx-font-weight: bolder;
    -fx-padding: 5;
}


.button:hover{
    -fx-background-color: #e19a1f;
    -fx-cursor: hand;
}


.text-field{
    -fx-text-fill: #172156;
    -fx-prompt-text-fill: #172156;
}


.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #fab338;
}


.date-picker:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #fab338;
}


.date-picker > .arrow-button{
    -fx-background-color: #fab338;
}


.date-picker > .arrow-button:hover{
    -fx-background-color: #e19a1f;
    -fx-cursor: hand;
}


.date-picker-popup > .month-year-pane{
    -fx-background-color: #e19a1f;
}


.date-picker-popup > .month-year-pane > * > .label{
    -fx-text-fill: #172156;
    -fx-font-weight: bolder;
}


.date-picker-popup > * > .cell{
    -fx-background-color: #fab338;
    -fx-text-fill: #172156;
}


.date-picker-popup > * > .cell:hover{
    -fx-background-color: #e19a1f;
    -fx-cursor: hand;
}


.date-picker-popup > * > .cell:focused{
    -fx-background-color: #172156;
    -fx-text-fill: #fab338;
}


.date-picker-popup > .month-year-pane > * > .button{
    -fx-background-color: #e19a1f;
    -fx-padding: 0px 5px;
    -fx-border-insets: 0px;
    -fx-border-radius: 50%;
    -fx-border-color: #e19a1f;
}


.date-picker-popup > .month-year-pane > * > .button > *{
    -fx-background-color: #172156;
}


.date-picker-popup > .month-year-pane > * > .button:hover{
    -fx-border-color: #172156;
}